<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antonioejemplos.agendapersonalimagen" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconoapp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.antonioejemplos.agendapersonalimagen.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name="activitys.SettingsActivity"
            android:theme="@style/AppAgendaTema"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.antonioejemplos.agendapersonalimagen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antonioejemplos.agendapersonalimagen.MainActivity" />
        </activity>

        <activity
            android:name="activitys.ActivityLista"
            android:label="@string/app_name"
            android:parentActivityName="com.antonioejemplos.agendapersonalimagen.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antonioejemplos.agendapersonalimagen.MainActivity" />
            <!-- - Autogenera botón para regresar a la activity padre -->

        </activity>


        <activity
            android:name="activitys.AltaUsuarios"
            android:label="@string/title_activity_alta_usuarios"
            android:parentActivityName="activitys.ActivityLista"
            android:windowSoftInputMode="stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activitys.ActivityLista" />
            <!-- - Autogenera botón para regresar a la activity padre -->

        </activity>

        <activity
            android:name="activitys.ModificarUsuarios"
            android:label="@string/title_activity_modificar_usuarios"
            android:parentActivityName="activitys.ActivityLista"
            android:windowSoftInputMode="stateHidden" >

            <!-- - Para que no aparezca el teclado -->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activitys.ActivityLista" />
            <!-- - Autogenera botón para regresar a la activity padre -->

        </activity>


        <activity
            android:name="activitys.ImportarContactos"
            android:label="@string/title_activity_importar_contactos"
            android:parentActivityName="activitys.ActivityLista"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activitys.ActivityLista" />
            <!-- - Autogenera botón para regresar a la activity padre -->

        </activity>



        <activity
            android:name="activitys.BorrarUsuarios"
            android:label="@string/title_activity_borrar_usuarios"
            android:parentActivityName="activitys.ActivityLista" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activitys.ActivityLista" />
            <!-- - Autogenera botón para regresar a la activity padre -->

        </activity>

    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>
